<h1>My books</h1>
<p><%= link_to "To home page", root_path %></p>
<% if @books.any? %>
  <ul>
    <% @books.each do |book| %>
      <li><%= book.title %> by <%= book.author %></li>
      <p><%= button_to "Return", return_book_path(book), method: :post %></p>

    <% end %>
  </ul>
<% else %>
  <p>You haven't borrowed books.</p>
<% end %>
